@import "../../../styles/variables.scss";
@import "../../../styles/templates/btnAddRemove.scss";

.ButtonPurple {
    background-color: $purple;
    color: $bg-container;

    @extend %btn;

    &:hover {
        background-color: $purple-hover;
    }
    span {
        font-size: $fs18;
        display: flex;
        align-items: center;
    }

}