%btn {
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    border-radius: 30px;
    padding: 10px 15px;
    font-family: 'Urbanist', sans-serif;
    font-size: $fs18;
    border-style: none;
    font-weight: 400;
    cursor: pointer;

    span {
        font-size: $fs32;
        font-weight: 200;
    }

}