@import "../../styles/variables.scss";

.transactionContainer {
    padding: 20px;
    width: 100%;
    background: $bg-container;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    row-gap: 20px;

    .block {
        display: flex;
        justify-content: space-between;

        .title {
            display: block;
            font-size: $fs18;
            color: $light-gray;
        }
    
        .referralLink{
            background-color: $dark-grey;
            border-radius: 30px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 5px 5px 5px 20px;
            color: $light-gray;
            font-weight: 500;
            font-size: $fs18;
    
                span {
                    text-transform: uppercase;
                }
    
                div {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    background-color: $black;
                    padding: 10px;
                    border-radius: 20px;
    
                }
      
        }
    }

    .blockHistory {
        display: flex;
        flex-direction: column;
        gap: 20px;

    }
}